@font-face {
  font-family: 'martabold';
  src: url('../fonts/marta_bold-webfont.eot');
  src: url('../fonts/marta_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/marta_bold-webfont.woff2') format('woff2'),
  url('../fonts/marta_bold-webfont.woff') format('woff'),
  url('../fonts/marta_bold-webfont.ttf') format('truetype'),
  url('../fonts/marta_bold-webfont.svg#martabold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'martaitalic';
  src: url('../fonts/marta_italic-webfont.eot');
  src: url('../fonts/marta_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/marta_italic-webfont.woff2') format('woff2'),
  url('../fonts/marta_italic-webfont.woff') format('woff'),
  url('../fonts/marta_italic-webfont.ttf') format('truetype'),
  url('../fonts/marta_italic-webfont.svg#martaitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'martaregular';
  src: url('../fonts/marta_regular-webfont.eot');
  src: url('../fonts/marta_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/marta_regular-webfont.woff2') format('woff2'),
  url('../fonts/marta_regular-webfont.woff') format('woff'),
  url('../fonts/marta_regular-webfont.ttf') format('truetype'),
  url('../fonts/marta_regular-webfont.svg#martaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antiquasibold';
  src: url('../fonts/antiquasi-bold-webfont.eot');
  src: url('../fonts/antiquasi-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/antiquasi-bold-webfont.woff2') format('woff2'),
  url('../fonts/antiquasi-bold-webfont.woff') format('woff'),
  url('../fonts/antiquasi-bold-webfont.ttf') format('truetype'),
  url('../fonts/antiquasi-bold-webfont.svg#antiquasibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antiquasibold_italic';
  src: url('../fonts/antiquasi-bolditalic-webfont.eot');
  src: url('../fonts/antiquasi-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/antiquasi-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/antiquasi-bolditalic-webfont.woff') format('woff'),
  url('../fonts/antiquasi-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/antiquasi-bolditalic-webfont.svg#antiquasibold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}