@import "variables";


html, body {
  font: $font-size-base $font-family-base;
  background: $bg-color-base;
  color: $text-color-base;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: martaitalic;
}

h1, .h1 { font-size: 3.750rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1.125rem; }
h4, .h4 { font-size: 1.063rem; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

blockquote {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 60px 0;
  font-size: 1.5rem;
  font-family: antiquasibold_italic;
  text-align: center;
  &:before,
  &:after {
    display: block;
    color: #44b1f2;
    font-family: antiquasibold_italic;
  }

  &:before {
    content:'';
  }
  &:after {
    content:'';
  }
}