
$font-size-base: 1rem;
$font-family-base: 'Cuprum', sans-serif;
$bg-color-base: #fff;
$text-color-base: #333;


$font-size-h1: 3.750rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;


