<div class="block-wrapper">
    <h2 class="block-title">
        О компании
    </h2>
    <div class="block-content">
        
        <img src="pic/uploads/main-about.jpg" class="img-block r-6">

        <p>Грандиозных целей каждый достигает по-разному. Кто-то осмеливается на решительные
            преобразования во всех сторонах жизни. Кто-то концентрируется только на одной сфере и
            стремится в ней стать лучшим.</p>

        <p>Путей к успеху может быть много, главное — найти свой и идти по нему. сворачивая.
            Компания «Телепорт-Сервис» сделала ставку на спутниковую связь и не ошиблась.</p>

        <div class="block-more">
            <a href="#">Подробнее о компании</a>
        </div>
    </div>
</div>