<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="copy">
                    Copyright &copy; 2016-2017 «Телепорт-сервис»<br>
                    Все права защищены.
                </div>
            </div>
            <div class="col-sm-5">
                <nav>
                    <ul>
                        <li><a href="">Обратная связь</a></li>
                        <li><a href="">Карта сайта</a></li>
                        <li><a href="">Личный кабинет</a></li>
                        <li><a href="">Контакты</a></li>
                    </ul>
                </nav>

                <ul class="subnav">
                    <li><a href="#">Пользовательское соглашение</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <a href=""><img src="/pic/de-logo.png"/></a>
            </div>
        </div>
    </div>
</footer>