<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="copy bt-1">
                    Copyright &copy; 2016-2017 «Телепорт-сервис»<br>
                    Все права защищены.
                </div>
            </div>
            <div class="col-sm-5 offset-sm-1">
                <nav class="bt-1">
                    <ul class="row justify-content-between">
                        <li class="col"><a href="">Обратная связь</a></li>
                        <li class="col"><a href="">Карта сайта</a></li>
                        <li class="col"><a href="">Личный кабинет</a></li>
                        <li class="col"><a href="">Контакты</a></li>
                        <li class="col"><a href="#">Пользовательское соглашение</a></li>
                        <li class="col"><a href="#">Политика конфиденциальности</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-2 offset-sm-1">
                <a href="" class="de-copy bt-1"><img src="pic/de-logo.png"/></a>
            </div>
        </div>
    </div>
</footer>