<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a class="logo" href="/">
                    <img src="pic/logo.png">
                    <div class="sub">Российский оператор спутниковой связи</div>
                </a>

            </div>
            <div class="col-sm-9">
                <form method="" action="" class="form-inline search-form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="example10" placeholder="Поиск">
                    </div>
                </form>

                <a href="#">Оставить запрос</a>
                <span>+7 (495) 668-80-82</span>
            </div>
        </div>
    </div>
</header>