<div class="block-wrapper">
    <h2 class="block-title">
        Новости
    </h2>
    <div class="block-content">

        <div class="news-item">
            <div class="date">20.06.2013</div>
            <a href="#" class="date">
                «Телепорт-Сервис» обеспечил проведение Всероссийской видеоконференции.
            </a>
            <p>«Эффективные региональные модели и лучшие практики профилактики социального
                сиротства, устройства в семьи детей-сирот и детей, оставшихся без попечения
                родителей, и их сопровождения»</p>
        </div>

        <div class="news-item">
            <div class="date">04.04.2013</div>
            <a href="#" class="date">
                «Модели и практики профилактики социального сиротства»
            </a>
            <p>«Телепорт-Сервис» принял участие в организации и проведении круглого стола на тему </p>
        </div>
        <div class="block-more">
            <a href="#">Все новости</a>
        </div>
    </div>
</div>