<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="" action="#" class="order-form ">
                <div class="form-title">
                    Станьте нашим клиентом
                </div>
                <div class="help-text">
                    Если ваша компания хочет стать нашим клиентом заполните, пожалуйста, форму ниже и наши менеджеры свяжутся с вами
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="example1" placeholder="Ф.И.О.">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="example2" placeholder="Название компании">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="tel" class="form-control" id="example3" placeholder="Ваш телефон">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="example4" placeholder="E-mail">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <textarea class="form-control" id="example5" rows="3" placeholder="Текст сообщения"></textarea>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" aria-describedby="submitHelp">Отправить</button>
                <small id="submitHelp" class="text-muted">
                    * обязательные поля для заполнения
                </small>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Нажимая кнопку «Отправить» я даю согласие на обработку моих персональных данных,
                        в соотвествии с Федеральным законом от 27.07.3006 года №153-ФЗ «О персональных данных»,
                        на условиях и для целей, определенных в политике отношении обработки персональных данных
                    </label>
                </div>

            </form>
        </div>
    </div>
</div>