<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="block-wrapper">
                <h2 class="block-title">
                    Партнеры
                </h2>
                <div class="block-content">
                    <ul class="partners-list">
                        <li>
                            <a href="#"><img src="pic/uploads/p1.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img src="pic/uploads/p2.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img src="pic/uploads/p3.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img src="pic/uploads/p4.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img src="pic/uploads/p5.jpg"></a>
                        </li>
                        <li>
                            <a href="#"><img src="pic/uploads/p6.jpg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>