<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="block-wrapper">
                <h2 class="block-title">
                    Партнеры
                </h2>
                <div class="block-content">
                    <ul>
                        <li>
                            <a href="#"><img src=""></a>
                        </li>
                        <li>
                            <a href="#"><img src=""></a>
                        </li>
                        <li>
                            <a href="#"><img src=""></a>
                        </li>
                        <li>
                            <a href="#"><img src=""></a>
                        </li>
                        <li>
                            <a href="#"><img src=""></a>
                        </li>
                        <li>
                            <a href="#"><img src=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>