<div class="block-wrapper">
    <h2 class="block-title">
        Проекты
    </h2>
    <div class="block-content">

        <img src="pic/uploads/main-project.jpg" class="img-block rt-6 m-0">
        <div class=" main-project rb-6">
            <a href="#">Организация парламентских слушаний в режиме видеоконференцсвязи в 83 субъектах РФ</a>

            <p>Участие депутатов местный зак.собраний и исполнительной власти регионов в парламентских
                слушаниях профильных комитетов Государственной Думы.</p>

            <p>Апробация нового формата проведения парламентских слушаний с использованием спутниковых
                технологий, направленного на привлечение большего количества участников без дополнительных
                затрат.</p>

            <div class="block-more">
                <a href="#">Все проекты</a>
            </div>
        </div>
    </div>
</div>